body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.image {
	height: 300px;
	margin: 10px;
}

.image1 {
	float: left;
}

.image2 {
	float: right;
}
